.pagina {
    text-align: center;
    height: 100%;
    background: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
}

.mt-10 {
    margin-top: 10px;
}

.pista{
    color: black;
    font-weight: bold;
    padding-top: 5px;    
    padding-bottom: 5px;
}
.seccion {    
    background-color: rgba(255, 255, 255, 0.75);    
}